.LoginForm{
  padding-top: 3%;
  margin-top: 4rem;;
  width: 90vw;
  color: rgb(79, 75, 75);
  background-color: rgb(205, 205, 26);
  font-size: 50px;
  
 
  align-content: center;
  justify-content:center;

}

input{

  font-size: 30px;
  margin-right: 20rem;
 
}

h3{
  border: 3px;
  border-style:double;
  border-color: antiquewhite;

}

#Nay{
background-color: aqua;
font-size: 50px;
border-style: dotted;
padding: 50%;
}